<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <connectionStrings>
    <add name="AzurePollAppDBContext" connectionString="Server=tcp:azurepollapp.database.windows.net,1433;Database=AzurePollAppDB;User ID=george@azurepollapp;Password=Irm@ge0mi;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>